* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
:root {
  --primary-color: rgb(127, 123, 123);
  --secondary-color: #b8b8b8;
  --wash: #fcfcfc;
  --color-white: #fff;
  --background-primary: #29b363;
  --background-secondary: #1877f2;
  --border-color: #eeeeee;
}
.spliter {
  border-bottom: 1px solid var(--border-color);
  width: 100%;
}
@media only screen and (max-width: 700px) {
  * {
    font-size: 13px;
  }
}
@media only screen and (max-width: 541px) {
  * {
    font-size: 9px;
  }
}
@media only screen and (max-width: 320px) {
  * {
    font-size: 7px;
  }
}
